.vertical-nav {
    min-width: 12rem;
    width: 12rem;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

.icons{
    color: #65158d;
}